[submodule "vendor/xmlbuilder"]
	path = vendor/xmlbuilder
	url = http://github.com/btakita/xmlbuilder.js.git
[submodule "vendor/node-xml2js"]
	path = vendor/node-xml2js
	url = git://github.com/lucisferre/node-xml2js.git
[submodule "vendor/sax-js"]
	path = vendor/sax-js
	url = http://github.com/isaacs/sax-js.git
[submodule "vendor/normal-template"]
	path = vendor/normal-template
	url = http://github.com/gmosx/normal-template.git
[submodule "vendor/formidable"]
	path = vendor/formidable
	url = http://github.com/felixge/node-formidable.git
[submodule "vendor/node-static"]
	path = vendor/node-static
	url = http://github.com/cloudhead/node-static.git
